{% extends 'users/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block form %}

    {% if user.is_authenticated %}
        <div class="alert alert-success text-center" role="alert">
            Wellcome {{ user.username }}
        </div>
        <div class="d-flex align-items-center">
            <div class="container-login100-form-btn p-3 ml-auto mr-auto">
                <a href="{% url 'logout' %}" class="login100-form-btn">
                    LogOut
                </a>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            You must loggin
        </div>
        <div class="d-flex">
            <div class="container-login100-form-btn p-3 mr-auto home-ml ">
                <a href="{% url 'login' %}" class="login100-form-btn bg-danger">
                    Login
                </a>
            </div>
            <div class="container-login100-form-btn p-3 mr-auto">
                <a href="{% url 'users:singup' %}" class="login100-form-btn">
                    SignUp
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}