{% extends 'users/base.html' %}

{% load widget_tweaks %}

{% block title %}
    Signup
{% endblock %}

{% block span %}
    Sing up
{% endblock span %}

{% block form %}
    <form class="login100-form validate-form" method="post">
        {% csrf_token %}
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
            <span class="label-input100">Username</span>
            {% render_field form.username class="input100" type="text" placeholder="Enter username"  name="username"%}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <div class="alert alert-danger " role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
            <span class="label-input100">Password</span>
            {% render_field form.password1 class="input100" type="password" placeholder="Enter password"  name="pass1"%}
            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <div class="alert alert-danger " role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
            <span class="label-input100">Confirm Password</span>
            {% render_field form.password2 class="input100" type="password" placeholder="Confirm password"  name="pass2"%}
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <div class="alert alert-danger " role="alert">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
            <span class="focus-input100"></span>
        </div>

        <div class="flex-sb-m w-full p-b-30">
            <div>
                <a href="{% url 'users:login' %}" class="txt1">
                    Loggin with you account.
                </a>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                Signup
            </button>
        </div>
    </form>
{% endblock %}